<h1 style="text-align: center" >Stock Prediction Using Logistic Regression</h1>

## Import Libraries

In [1]:
import os
import pandas as pd
from tqdm.notebook import tqdm
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

## Load Data

In [2]:
def load_data(directory):
    stock_data = []

    files = [f for f in os.listdir(directory) if f.endswith(".txt")]

    for filename in tqdm(files, desc="Loading data"):
        file_path = os.path.join(directory, filename)
        if os.stat(file_path).st_size != 0:
            symbol = filename.split(".")[0]
            stock_df = pd.read_csv(file_path, parse_dates=["Date"])
            stock_df.set_index("Date", inplace=True)
            stock_df["Symbol"] = symbol
            stock_data.append(stock_df)

    combined_df = pd.concat(stock_data)
    return combined_df

In [3]:
data = load_data("data/Stocks/")

Loading data:   0%|          | 0/7195 [00:00<?, ?it/s]

## Preprocess Data

In [4]:
def preprocess_data(data, days_ahead=30):
    data["Label"] = data["Close"].shift(-days_ahead) > data["Close"]
    data["Label"] = data["Label"].astype(int)
    data["30_day_moving_average"] = data["Close"].rolling(window=30).mean()
    
    data.dropna(inplace=True)
    return data

In [5]:
data = preprocess_data(data)

In [6]:
le = LabelEncoder()
data["Symbol"] = le.fit_transform(data["Symbol"])

In [7]:
data.head()

,Open,High,Low,Close,Volume,OpenInt,Symbol,Label,30_day_moving_average
Date,,,,,,,,,
2016-12-21,105.75,105.77,105.130,105.130,9034,0,2452,1,100.559177
2016-12-22,105.45,105.82,105.155,105.155,4604,0,2452,1,100.722677
2016-12-23,105.31,105.75,105.310,105.750,14041,0,2452,1,100.831677
2016-12-27,105.85,105.94,105.651,105.780,3701,0,2452,1,101.069677
2016-12-28,104.92,104.93,104.730,104.730,3020,0,2452,1,101.279010

In [8]:
data.tail()

,Open,High,Low,Close,Volume,OpenInt,Symbol,Label,30_day_moving_average
Date,,,,,,,,,
2017-11-06,82.847,83.574,82.299,82.887,452189,0,5541,0,78.687333
2017-11-07,82.887,82.887,82.011,82.140,828976,0,5541,0,78.892800
2017-11-08,82.160,82.750,81.780,82.190,1230839,0,5541,0,79.104567
2017-11-09,82.050,82.900,81.970,82.720,597998,0,5541,0,79.335667
2017-11-10,82.320,83.070,81.520,83.060,374875,0,5541,0,79.549900

## Train and Test Models

In [9]:
X = data.drop(columns=["Label", "Symbol"])
y = data["Label"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Logistic Regression

In [11]:
from sklearn.linear_model import LogisticRegression

#### Training

In [12]:
lr = LogisticRegression(max_iter=1000)
scores = cross_val_score(lr, X_train, y_train, scoring="accuracy", cv=5)

In [13]:
print("Cross-validation scores:", scores)
print("Average Train Accuracy:", scores.mean())

Cross-validation scores: [0.54789502 0.54796387 0.54794708 0.54791121 0.54791834]
Average Train Accuracy: 0.5479271052769075

#### Testing

In [14]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [15]:
print("Test Accuracy:", accuracy_score(y_test, y_pred))
# print("Confusion matrix:\n", confusion_matrix(y_test, y_pred))
# print("Classification report:\n", classification_report(y_test, y_pred))

Test Accuracy: 0.5481483297554213